In [1]:
from google.colab import files
uploaded = files.upload()

Saving Vaccine Tweets.csv to Vaccine Tweets.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Vaccine Tweets.csv')
df.head()
df.drop('Unnamed: 0',inplace=  True,axis = 1)

In [4]:
df.head()

                                               tweet
0  #DrFauci #BillGates #MelindaGates #SayNoToVacc...
1  How close are we to having a #COVID_19Vaccine?...
2  #China is inoculating its own population. Chin...
3  Contact us for any queries and submission: gas...
4  Russian Sputnik V trials in India to begin soo...

In [5]:
df['tweet'] = df['tweet'].str.lower()

# New Section

In [6]:
df['tweet']

0        #drfauci #billgates #melindagates #saynotovacc...
1        how close are we to having a #covid_19vaccine?...
2        #china is inoculating its own population. chin...
3        contact us for any queries and submission: gas...
4        russian sputnik v trials in india to begin soo...
                               ...
48329    #sidnaaz #coronavaccine #impeachtrumpagain #ju...
48330    यहां पढ़ें देश, दुनिया,खेल और टीवी बॉलीवुड की ...
48331    सोमवार को 65 हजार से ज्यादा नए मामले मिले तो ल...
48332    trial participants will receive either two dos...
48333    आज से नौवां महीना प्रारंभ हो चुका है, कोरोना क...
Name: tweet, Length: 48334, dtype: object

In [7]:
df1 = df[:]

In [8]:
def extract_hashtag(s):

  L = [i  for i in s.split() if i.startswith("#") ]

  return L

In [9]:
df1['hashtags'] = df1['tweet'].apply(extract_hashtag)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
df1.head()

                                               tweet                                           hashtags
0  #drfauci #billgates #melindagates #saynotovacc...  [#drfauci, #billgates, #melindagates, #saynoto...
1  how close are we to having a #covid_19vaccine?...  [#covid_19vaccine?, #issue6, #drpeterdurcan,, ...
2  #china is inoculating its own population. chin...                         [#china, #covid_19vaccine]
3  contact us for any queries and submission: gas...  [#gastroenterology, #covid19, #covid_19vaccine...
4  russian sputnik v trials in india to begin soo...  [#russiansputnikvtrials, #russia, #covid_19vac...

In [11]:
a = {}

for i in df1['hashtags']:

  for j in i:

    if j in a:

      a[j] = a[j] + 1
    
    else:

      a[j] = 1

In [12]:
df_final = pd.DataFrame(list(a.items()),columns = ['hashtag','Number of times']) 
df_final.sort_values('Number of times',inplace=True,ascending=False)

In [13]:
df_final

                  hashtag  Number of times
53    #coronavirusvaccine            20617
207         #covidvaccine            15389
44           #coronavirus            13282
17               #covid19            13169
125        #coronavaccine            11296
...                   ...              ...
976      #mainstreammedia                1
4487          #modiatunga                1
1366            #convid19                1
4712             #pakarmy                1
4711      #alllivesmatter                1

[9530 rows x 2 columns]