<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
#to calculate length of string
str = input("Enter string: ")
total = 0
for s in str:
      total = total+1
print("Length of the string is:", total)

Enter string: computational methods
Length of the string is: 21

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
str = input("Enter string: ")
def char_frequency(str):
    dict = {}
    for n in str:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print("the count of number of characters in a string:", char_frequency(str))

Enter string: moon
the count of number of characters in a string: {'m': 1, 'o': 2, 'n': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
# write your answer here
n= input("enter numbers:")
def sum(numbers):
    total = 0
    for x in numbers.split(","):
        total += int(x)
    return total
print(sum(n))

enter numbers:1,2,3,4
10

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
str = input("enter string:")
def change_char(str):
  char = str[0]
  str = str.replace(char, '$')
  str = char + str[1:]

  return str

print("the replaced string:", change_char(str))

enter string:srenisureneni
the replaced string: sreni$ureneni

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [ ]:
# write your answer here
pi = 3.14
a = int(input("Enter a:"));
b = int(input("Enter b:"));
S = pi * pow((1 + a/b), 3)
print(S)

Enter a:1
Enter b:2
10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dicA={2:4, 4:8}
dicB={8:16, 16:32}
dicC={32:64, 64:128}
dicD = {}
for d in (dicA, dicB, dicC): dicD.update(d)
print(dicD)

{2: 4, 4: 8, 8: 16, 16: 32, 32: 64, 64: 128}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:
# write your answer here
#creating a tuple
tup =('python','R','MySQL')
#checking if tuple exists
print("Tableau" in tup)

False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [ ]:
# write your answer here
values = input("enter the elements for set:")
lists = values.split(" ")
sets = set(lists) 
print(max(sets))
print(min(sets))

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [ ]:
# write your answer here
import random
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
def listOf(l):
  c = 0;
  for i in l:
    c +=1;
  return c
#print(len(list(studnet_list)))
groups = [];
while listOf(studnet_list)>=5:
    random.shuffle(studnet_list)
    groups.append(studnet_list[:3])
    #print(studnet_list)
    studnet_list.pop(0)
    studnet_list.pop(0)
    studnet_list.pop(0)
groups.append(studnet_list)
print(groups)

[['rs0850', 'yye0005', 'nm0547'], ['at0739', 'ds0761', 'rrk0058'], ['msp0174', 'at0768', 'dy0091'], ['pn0159', 'vl0135', 'pc0353'], ['dd0420', 'vmb0067', 'bk0301'], ['sg0940', 'snd0097', 'spk0057'], ['tv0119', 'mv0299', 'ss1995', 'rak0120']]